<app-nav></app-nav>
<div class="investments mt-5">
    <div class="header">
        <h2>Investments</h2>
        <a href="#">More <span class="material-icons-sharp">chevron_right</span></a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Company</th>
                    <th scope="col">Date</th>
                    <th scope="col">Bonds</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="assets/uniliver.png" alt="Uniliver Logo" class="investment-logo"></td>
                    <td>Uniliver</td>
                    <td><p>5 Jan, 2024<br><small class="text-muted">12:56am</small></p></td>
                    <td>4532 <br><span class="text-muted">Bonds</span></td>
                    <td>$34,564</td>
                    <td><span class="text-danger">-5.78%</span></td>
                </tr>
                <tr>
                    <td><img src="assets/tesla.png" alt="Tesla Logo" class="investment-logo"></td>
                    <td>Tesla</td>
                    <td><p>5 Jan, 2024<br><small class="text-muted">12:56am</small></p></td>
                    <td>4532 <br><span class="text-muted">Bonds</span></td>
                    <td>$34,564</td>
                    <td><span class="text-success">2.78%</span></td>
                </tr>
                <tr>
                    <td><img src="assets/monster.png" alt="Monster Logo" class="investment-logo"></td>
                    <td>Monster</td>
                    <td><p>5 Jan, 2024<br><small class="text-muted">12:56am</small></p></td>
                    <td>4532 <br><span class="text-muted">Bonds</span></td>
                    <td>$34,564</td>
                    <td><span class="text-danger">-5.78%</span></td>
                </tr>
                <tr>
                    <td><img src="assets/mcdonalds.png" alt="McDonalds Logo" class="investment-logo"></td>
                    <td>McDonalds</td>
                    <td><p>5 Jan, 2024<br><small class="text-muted">12:56am</small></p></td>
                    <td>4532 <br><span class="text-muted">Bonds</span></td>
                    <td>$34,564</td>
                    <td><span class="text-success">4.78%</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
